---
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import Hero from "../components/organisms/Hero.astro";
import ProductListComponent from "../components/organisms/ProductList";
import Layout from "../layouts/Layout.astro";
import { sdk } from "../lib/sdk";

// try {
//   product = await listProducts();
//   console.log("La lista de productos es la siguiente:", product);
// } catch (e) {
//   error = e instanceof Error ? e : new Error("Unknown error");
//   console.error(error);
// }

let filters_list = [];
const { product_categories } = await sdk.store.category.list();
console.log("La lista de productos es: ", product_categories);

filters_list = [
  {
    filterfield: "category_id",
    filtervalues: product_categories,
  },
];

// try {
//   const { products } = await sdk.store.product.list();
//   const { product_categories } = await sdk.store.category.list();
//   console.log("La lista de productos es: ", product_categories);
//   return products;
// } catch (error) {
//   console.error(error);
//   throw new Error("Failed to fetch products");
// }
---

<Layout title="Tienda - Productos">
  <Header />

  <main>
    <Hero
      title="BIENVENIDOS AL CLUB"
      subtitle="Explora nuestra nueva colección de temporada. Estilo y rendimiento en un solo lugar."
      primaryCtaText="COMPRAR AHORA"
      secondaryCtaText="VER NOVEDADES"
      bgColor="#000000"
    />
    <ProductListComponent
      client:only="react"
      initialDataFilters={filters_list}
    />
  </main>

  <Footer />
</Layout>

<!-- <Footer /> -->
